<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ipetty.ibang"
    android:versionCode="4"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 位置相关补充 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <application
        android:name="net.ipetty.ibang.android.core.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="RbyUb3WY0yE5MkonTHkeVRvw" />
        <!-- 百度定位SDK -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name="net.ipetty.ibang.android.boot.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.login.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.user.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.publish.SelectSeekCategoryActivity"
            android:label="@string/title_activity_publish_sub_type"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.publish.PublishActivity"
            android:label="@string/title_activity_publish"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.publish.UploadLargerImageActivity"
            android:label="@string/title_activity_upload_largin_image"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.user.UserEditActivity"
            android:label="@string/title_activity_user_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.setting.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.setting.ChangePwdActivity"
            android:label="@string/title_activity_change_pwd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.city.CityActivity"
            android:label="@string/title_activity_city"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.message.MessageActivity"
            android:label="@string/title_activity_message"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.type.SelectCategoryActivity"
            android:label="@string/title_activity_type"
            android:screenOrientation="portrait"
            android:theme="@style/TopDialog" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.seek.SeekActivity"
            android:label="@string/title_activity_seek"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.seek.OfferActivity"
            android:label="@string/title_activity_offer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.seek.PublishOfferActivity"
            android:label="@string/title_activity_publish_offer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.seek.MySeekActivity"
            android:label="@string/title_activity_my_seek"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.seek.DelegationActivity"
            android:label="@string/title_activity_delegation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.seek.MyOfferActivity"
            android:label="@string/title_activity_my_delegation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.seek.LargerImageActivity"
            android:label="@string/title_activity_larger_image"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.user.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.evaluation.EvaluationActivity"
            android:label="@string/title_activity_evaluation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.city.ProvinceActivity"
            android:label="@string/title_activity_province"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.city.DistrictActivity"
            android:label="@string/title_activity_district"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.user.SelectUserCategoryActivity"
            android:label="@string/title_activity_select_user_category"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.publish.LocateActivity"
            android:label="@string/title_activity_locate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.seek.MyEvaluationActivity"
            android:label="@string/title_activity_my_evaluation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.type.SelectSeekTypeActivity"
            android:label="@string/title_activity_select_seek_type"
            android:screenOrientation="portrait"
            android:theme="@style/TopDialog" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.publish.SelectAddressActivity"
            android:label="@string/title_activity_select_address"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.approve.ApproveActivity"
            android:label="@string/title_activity_approve"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.boot.AdActivity"
            android:label="@string/title_activity_ad"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.report.ReportActivity"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.local.NearlyActivity"
            android:label="@string/title_activity_nearly" >
        </activity>
        <activity
            android:name="net.ipetty.ibang.android.letter.LetterActivity"
            android:label="@string/title_activity_letter" 
            android:windowSoftInputMode ="adjustResize">
        </activity>
    </application>

</manifest>
