<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- 自动扫描且只扫描@Controller -->
	<context:component-scan base-package="net.ipetty.ibang" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/jsps/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/verify/**" />
			<ref bean="adminInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**" /><!-- 如果不配置或/**,将拦截所有的Controller -->
			<ref bean="userContextInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<bean id="userContextInterceptor" class="net.ipetty.ibang.web.rest.interceptor.UserContextInterceptor">
		<property name="userService" ref="userService" />
	</bean>
	<bean id="adminInterceptor" class="net.ipetty.ibang.web.controller.interceptor.AdminInterceptor" />

	<!-- Spring文件上传支持 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<!--Max:5M -->
		<property name="maxUploadSize" value="5242880" />
		<property name="uploadTempDir" value="temp" />
	</bean>

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
			<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
				<property name="objectMapper">
					<bean class="net.ipetty.ibang.web.converter.DateObjectMapper" />
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<!-- 映射静态资源 -->
	<mvc:resources location="/static/" mapping="/static/**"  cache-period="604800" />
	<mvc:resources location="/images/" mapping="/images/**"  cache-period="86400" />
	<mvc:resources location="/js/" mapping="/js/**"  cache-period="86400" />
	<mvc:resources location="/css/" mapping="/css/**"  cache-period="86400" />
	<mvc:resources location="/upload/" mapping="/upload/**" cache-period="86400" />
	<mvc:resources location="/photos/" mapping="/photos/**" cache-period="31556926" />
 	<mvc:resources location="/feedAttachment/" mapping="/feedAttachment/**"  cache-period="86400" />
 	<mvc:resources location="/favicon.ico" mapping="/favicon.ico"  cache-period="86400" />
 	<mvc:resources location="/error/" mapping="/error/**"  cache-period="86400" />
 	<mvc:resources location="/login/photos" mapping="/login/photos/**"  cache-period="86400" />
 	
</beans>
